@font-face {
  font-family: "GothamBold";
  src: url("/font/Gotham-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GothamMedium";
  src: url("/font/GothamMedium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamLight";
  src: url("/font/Gotham-Light.otf");
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: "GothamMedium";
}

h1 {
  font-family: "GothamBold";
}

h2 {
  font-family: "GothamBold";
}

h3 {
  font-family: "GothamBold";
}

h5 {
  font-family: "GothamBold";
}

button {
  font-family: "GothamBold";
}

/* NavBar */

.NavBar {
  background-color: #e8505b !important;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  color: #f3ecc2 !important;
}

.NavBar-Title {
  font-family: "GothamBold" !important;
  margin: auto;
  margin-left: 10px;
}

.navbar-nav a {
  font-family: "GothamBold";
  color: white !important;
  margin-right: 25px;
}

.dropdown-menu {
  background-color: #f3ecc2;
  
}

.dropdown-item:hover {
  background-color: lightcoral;
}

.cart-link {
  display: flex;
  flex-direction: row;
}

.badge {
  margin: auto 10px !important;
}

.nav-link.active {
  color: #f3ecc2 !important;
}

.nav-link:hover {
  color: lightgray !important;
}

.loginBtn {
  background-color: #b33d45;
  color: white;
}

.loginBtn:hover {
  background-color: lightcoral;
}

/* ******* */

/* Header */

.headerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e8505b;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
}

.cardpanino {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cardsSection::after{
	  background-image: url(/assets/pattern.png);
	  content: "";
	  opacity: 6%;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  position: absolute;
	  z-index: -1; 
}
.cardsSection {
	
    padding-top: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 220px;

}

.card-body {
  text-align: center;
}
.btn-primary {
    border-radius: 20px;
    background-color: #ea5e68;
    color: white;
    border: none;
    width: 100px;
    height: 100px;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: auto;
    font-weight: 800;
    box-shadow: 0px 0px 0px 6px #f3ecc2;
}

.btn-primary:selected,active {
  background-color: #b33d45;
  border: none;
}

.btn-primary:focus {
  color: gray;
  background-color: #b33d45;
  border-color: #f3ecc2 !important;
  outline: none;
  border: none;
}
.btn-primary:hover {
  background-color: #b33d45;
  color: gray;
}

#menu-text {
  text-align: center;
}
#bibite-text {
  text-align: center;
}
#panini-text {
  text-align: center;
}
.image_modify{
	  
    width: 70px;
    height: 70px;
    margin-bottom: 5px;	
}
.image_modify2 {
    width: 60px;
    height: 60px;
    margin-left: 10px;
}
/* Delivery Promo */
.delivery-promo {
  display: block;
  background-color: #ccc;
  padding: 160px;
}

.delivery-promo-description {
  width: 90%;
  margin: 0;
}

/* Footer */
footer {
  padding-top: 80px;
}

.footer-title {
  font-family: "GothamBold";
  color: #e8505b;
  margin-top: 10px;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.footer-link-title {
  font-family: "GothamBold";
  color: black;
}

.footer-link-item {
  text-decoration: none !important;
  font-family: "GothamLight";
  color: gray;
}

.footer-link-item:hover {
  color: #e8505b;
}

.copyright-section {
  margin-top: 40px;
  text-align: center;
}

.copyright-paragraph {
  color: gray;
  font-size: 13px;
}

.copyright-link {
  text-decoration: none !important;
  color: #e8505b;
  font-family: "GothamBold";
}

.copyright-link:hover {
  color: lightcoral;
}
/*responsive*/
@media (max-width: 600px) {
  .cardsSection {
    flex-direction: column;
    justify-content: center;
  }
  .card-img-top {
    width: 150px;
    height: 150px;
    margin: auto;
  }
  .input-group {
    flex-direction: column;
    margin-top: 0;
  }
  .idbar {
    width: 70%;
    margin: auto;
  }
  

  .delivery-promo-description {
    width: 100%;
  }

  .footer-row {
    flex-direction: column;
    align-items: center;
  }

  .col-sm-3 {
    margin-top: 20px;
  }
}
